body {
  margin: 0;
  line-height: 1.5em;
  background: #fafafa;
}

.header div, .container, .copyright, .menu {
  max-width: 1100px;
  margin: auto;
  padding: 0 15px;
}

.page .header div, .page .container, .page .copyright, .page .menu { max-width: 900px; }
.container { hyphens: auto; }
@media (max-width: 930px) {
  .page .container { padding: 0; }
}
main { margin-bottom: 15px; }

/* header and footer areas */
.header {
  text-align: center;
  padding: 50px 0 5px 0;
  background: #000000; 
  background-image: url("");
  background-position: 0px 50%;
  min-height: 130px;
  background-size: cover;
  color: #fff;
  #border-top: 5px solid #666;
  #border-bottom: 4px double #666;
}
.head-meta, .menu {
  display: flex;
  justify-content: space-between;
}

.list section, article { background: #fff; }
.banner { 
  font-size: 4em;
}
.banner a { color: #fff; }
.wrapper{
  display: flex;	
}
.imgwrapper{
flex: 1;
text-align: right;
#border: 1px solid blue;
margin: 0;
padding: 0;
}
.titlewrapper{
text-align: left;
flex: 5;
#border: 1px solid red;
margin: 0;
padding: 0;
}
.titlemain{
font-size:0.6em;
line-height: 0.4em;
text-transform: uppercase;
font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
font-weight: 800;
line-height: 0.5;
letter-spacing: 0.08em;
margin: 0;
padding: 0;
}
.subtitlemain{
font-size:0.3em;
line-height: 0.2em;
margin: 0;
padding: 0;
}



.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
}
.list section {
  flex: 1 0 300px;
  box-sizing: border-box;
  box-shadow: 0 0 8px #ccc;
  margin: 1em 0 0 15px;
  padding: 1em;
  overflow-x: hidden;
}
@media (max-width: 380px) {
  .list section { flex: auto; }
}
@media (min-width: 715px) {
  .list section { max-width: calc(50% - 15px); }
  .article-list h1 {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .article-list h1:hover { white-space: inherit; }
}
@media (min-width: 1080px) {
  .list section { max-width: calc(33.33333% - 15px); }
}
.article-list a { color: #000; }
.categories a {
  font-size: .9em;
  font-weight: bolder;
  text-transform: uppercase;
  color: #666;
}
.categories2 {
  font-size: 1.8em;
  font-weight: bolder;
  text-transform: uppercase;
  color: #666;
}
.categories2 a {
  color: #666;
}
h1 a:hover { text-decoration: underline; }
.article-list h1 { margin: .2em auto .2em 0; }
article { padding: 1em; }
.article-meta {
  text-decoration: none;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
}
.menu, .article-meta, footer, .post-nav { text-align: center; }
.article-footer { text-align: left; }
.title { font-size: 1.2em; }
.subtitle { font-size: 0.8em; }
.article-list h1, .title { line-height: 1.2em; }
.article-list a, .header a, footer a, .categories a, .active a, .comments a { text-decoration: none; }
.pagination { text-align: center; }
.pagination li, .terms li { display: inline; }
.pagination a { padding: 0 .2em; }
.footer {
  background: #666;
  padding: 1em 0;
}
.footer, .footer a { color: #fff; }
.copyright, .copyright a { color: #ccc; }
.menu {
  margin-bottom: .5em;
  flex-wrap: wrap;
}
.menu li {
  display: inline-block;
  font-weight: bolder;
}
.menu a { padding: .5em; }
.menu a:hover {
  color: #000;
  background: #fff;
}

hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code {
  background: none;
  padding: .5em;
  display: block;
}

/* misc elements */
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

img, iframe, video { max-width: 100%; }
img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* se mer http://www.ebadf.net/2016/10/19/centering-images-in-hugo/#the-solution */
}

img[src$='#floatleft']
{
    float:left;
    margin: 0.7rem;      /* this margin is totally up to you */
}

img[src$='#floatright']
{
    float:right;
    margin: 0.7rem;      /* this margin is totally up to you */
}



table {
  margin: 1em auto auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
tr:nth-child(even) { background: #eee }

.thumbnail {
  height: 5.1em;
  width: 6.8em;
  float: left;
  overflow: hidden;
  margin: 5px 8px 5px 0;
  box-shadow: 0 0 8px #666;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#TableOfContents, #TOC, .comments {
  border: 1px solid #eee;
  border-radius: 5px;
}
.comments a {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
.terms { padding-left: 0; }
.post-nav {
  margin: .5em 0;
  display: flex;
  justify-content: space-between;
}
.footnotes { font-size: .9em; }
.footnotes hr {
  width: 50%;
  margin-left: 0;
}



/* Add a black background color to the top navigation */
.topnav {
  #background-color: rgb(255, 255, 255);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #04AA6D;
  color: rgb(0, 0, 0);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
