{{ partial "header.html" . }}
<div class="container">
<article>
  <div class="categories">
  {{ range $i, $e := .Params.categories }}
    {{ if $i }} &hercon; {{ end }}<a href="{{ relURL (print "/k/" $e | urlize) }}">{{ $e }}</a>
  {{ end }}
</div>

{{ if .Params.toc }}
{{ .TableOfContents }}
{{ end }}


<h1><span class="title">{{ .Title }}</span></h1>

<main>
{{ if .Params.showimage}}
  {{ with .Params.images }}
    {{ with index . 0 }}
      {{ with resources.Get . }}
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" alt="">
      {{ else }}
        {{ errorf "Unable to find image %s" . }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ .Content }}

</main>

{{ partial "prev_next.html" . }}
</article>
</div>
{{ partial "footer.html" . }}