{{ partial "header.html" . }}
<div class="container">
<article>
  <div class="categories">
  {{ range $i, $e := .Params.categories }}
    {{ if $i }} &hercon; {{ end }}<a href="{{ relURL (print "/k/" $e | urlize) }}">{{ $e }}</a>
  {{ end }}
</div>

{{ if .Params.toc }}
{{ .TableOfContents }}
{{ end }}


<h1><span class="title">{{ .Title }}</span></h1>

<main>
{{ if .Params.make_image_small }}
  {{ with .Params.images }}
    {{ with index . 0 }}
      {{ with resources.Get . }}
        <img src="{{ .RelPermalink }}" width="{{ 300 }}" alt="" align="right">
      {{ else }}
        {{ errorf "Unable to find image %s" . }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ with .Params.images }}
    {{ with index . 0 }}
      {{ with resources.Get . }}
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" alt="">
      {{ else }}
        {{ errorf "Unable to find image %s" . }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ .Content }}

{{ if .Params.onward_url }}
  <b>Läs hela artikeln</b> i <a href="{{ .Params.onward_url }}" target="_blank">{{ .Params.medium }}</a><br/><br/>
{{ end }}

{{ if not .Params.make_image_small }}
  {{ with .Params.images }}
    {{ with replace (index . 0) ".jpg" "-b.jpg" }}
      {{ with resources.Get . }}
        <img src="{{ .RelPermalink }}" width="{{ 600 }}" alt="">
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}


</main>

{{ partial "prev_next.html" . }}
</article>
</div>
{{ partial "footer.html" . }}